@font-face{
  font-family: 'Rancho';
  src: url("fonts/Rancho.ttf");
}

/*---------------------------- 1920 -------------------------------*/
.head {
  height: 80px;
  background-color: #131313;
  /*position: fixed;*/
}
.colorCaramelo{
  color: #e3b873;
}
.titulo{
  font-size: 320%;
  color: #e3b873;
  margin-top: 6px;
}
.fonteBase {
  font-family: 'Yeseva One', cursive;
  line-height: 1.33;
}
.subtitulo{
font-family: arial;
 font-size: 45%;
 line-height: 1.33;
 color: #ffffff;
}
ul.nav li a{
  margin-top: 20px;
}
ul.nav li a.active:hover{
  text-decoration: underline;
  color: #e3b873;
}
ul.nav li a:hover{
  text-decoration: underline;
  color: white;
}
.home{
  height: 800px;
  background-color: #131313;
}
.grupoInsta {
  height: 90%;
  background-color: #131313;
  float: left;
}
.instagram{
  transform: rotate(90deg);
  color: #e3b873;
  margin-top: 280px;
}
.nav-link{
  color: #fff;
}
.active{
  color: #e3b873;
}
.grupoHome {
  height: 90%;
  object-fit: contain;
  background-size: cover;
  background-image: url("img/table.jpg");
  background-position: cover;
  float: left;
}
.blocoHome{
  margin-top: 11%;
}
.blocoChamada{
  font-size: 190%;
  color: #fff;
}
.blocoComplemento{
  font-size: 110%;
  font-family: arial;
  color: #fff;
  margin-top: 7%;
}
.boxButtons{
  font-weight: bold;
  font-size: 125%;
}
.boxButtons a{
  text-decoration: none;
  color: white;
}
.buttonOrcamento {
  padding: 10px 20px;
  border-radius: 1px;
  box-shadow: 0 2.5px 7.5px 0 rgba(227, 184, 115, 0.3);
  text-shadow: 0.5px 0.5px 0.5px black;
  background-color: #e3b873;
  color: #fff;
  text-align: center;
  transition: all 0.3s;
}
.buttonOrcamento:hover {
  transition: all 0.3s;
  color: #e3b873;
  background-color: white;
}
.buttonOpiniao {
  padding: 10px 20px;
  border-radius: 1px;
  border: solid 0.5px #ffffff;
  color: #fff;
  text-align: center;
}
.buttonOpiniao:hover {
  transition: all 0.3s;
  color: #e3b873;
  background-color: white;
}
.descaPag {
  height: 70px;
  background-image: url("img/downPage2x.png");
  background-repeat: no-repeat;
  background-color: #131313;
  background-position: center;
  position: absolute;
  top: 750px;
}

#portfolio{
  height: 750px;
  background-color: #131313;
}
.menuPortfolio span a{
  color: white;
  font-family: 'Yeseva One', cursive;
  font-size: 110%;
  padding-left: 0;
}
.menuPortfolio span a:hover{
  text-decoration: none;
  border-bottom: 2px solid #e3b873;
  border-bottom: 2px solid white;
}
.menuPortfolio span a.active{
  color: #e3b873;
  border-bottom: 2px solid #e3b873;
}
.menuPortfolio span a.active:hover{
  text-decoration: none;
}
.boxDescricao{
  margin-top: 80px;
  color: white;
}
.linhaDesc{
  width: 120px;
  height: 1px;
  background-image: url("img/linhaDesc.png");
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
  margin-bottom: 60px;
}
.descricao1{
  font-family: Rancho;
  font-size: 120%;
  letter-spacing: 1px;
}
.subBoxDescricao{
  margin-top: 100px;
}
.descricaoModelo{
  font-family: 'Yeseva One', cursive;
  color: #e3b873;
  font-size: 120%;
}
.descricaoModeloDesc{
  font-family: Rancho;
}
.carousel-item{
  height: 600px;
}

.marketing{
  padding-bottom: 7%;
}
.blocoTituloDepo{
  margin-bottom: 50px;
  margin-top: 50px;
}
.tituloDepoimentos{
  font-family: 'Yeseva One', cursive;
  font-size: 160%;
  text-align: center;
}
.iconeDepoimentos {
  height: 70px;
  background-image: url("img/iconDepo2x.png");
  background-repeat: no-repeat;
  background-position: center;
}
.percentualDepoimentos{
  font-family: Rancho;
  font-size: 130%;
  text-align: center;
}
.home-depoimentos {
  width: 719px;
  height: 1415px;
  background-color: #ffffff;
}
.boxDepoMsg {
  font-family: 'Yeseva One', cursive;
  font-size: 120%;
  line-height: 1.29;
  color: #181818;
  margin-left: 2%;
}
.rectangle-text-depoimentos {
  object-fit: contain;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.18);
  font-family: Rancho;
  font-size: 110%;
  letter-spacing: .8px;
  color: #959595;
}
.retangle-image-depoimentos {
  width: 58px;
  height: 58px;
  background-repeat: no-repeat;
  display: inline-block;
}
.depo1{
  background-image: url("img/leila2x.png");
  background-position: 50% 30%;
}
.depo2{
  background-image: url("img/estevan2x.png");
  background-position: 50% 10%;
}
.depo3{
  background-image: url("img/thiago2x.png");
  background-position: 52% 15%;
}

.suaOpiniao{
  height: 500px;
  background-color: #131313;
  color: white;
}
.tituloOpiniao{
  font-family: 'Yeseva One', cursive;
  font-size: 160%;
  text-align: center;
  margin-top: 40px;
}
.suaOpiniao form{
  margin-top: 40px;
}
.suaOpiniao form input, .suaOpiniao form label{
  font-family: Rancho;
  font-size: 120%;
  letter-spacing: 0.5px;
}
.espacador{
  height: 25px;
}
.espacadorDuplo{
  height: 40px;
}
.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: #e3b873;
  background-color: #e3b873;
}
.buttonEnviarOpiniao {
  padding: 10px 20px;
  border-radius: 1px;
  box-shadow: 0 2.5px 7.5px 0 rgba(227, 184, 115, 0.3);
  background-color: #e3b873;
  color: #fff;
  font-weight: bold;
  text-align: center;
  transition: all 0.3s;
}
.buttonEnviarOpiniao:hover {
  transition: all 0.3s;
  color: #e3b873;
  background-color: white;
}


/*-------------------------------- 1600 -------------------------------*/
@media screen and (min-width: 1600px) and (max-width: 1919px) {
  
}

/*-------------------------- 1280 --------------------------*/
@media screen and (min-width: 1210px) and (max-width: 1599px) {
  
}

/*---------------- 993 ---------------------*/
@media screen and (min-width: 993px) and (max-width: 1209px) {
  .home{
    height: 700px;
  }
  .instagram{
    margin-top: 180px;
  }
  .blocoHome p{

  }
  .blocoChamada{
    font-size: 170%;
  }
  .boxButtons{
    font-weight: normal;
    font-size: 100%;
  }
  .descaPag {
    top: 640px;
  }
  .suaOpiniao{
    height: 600px;
  }
  #portfolio{
    height: 600px;
    background-color: #131313;
  }
  #carouselControls{
    display:  none;
  }
}

/*---------------- mobile_993 ---------------------*/
@media screen and (max-width: 992px) {
  .home{
    height: 550px;
  }
  .instagram{
    margin-top: 110px;
  }
  .blocoChamada{
    font-size: 190%;
  }
  .boxButtons{
    font-size: 150%;
  }
  .descaPag {
    height: 50px;
    background-image: url("img/downPage2x.png");
    top: 540px;
  }
  .suaOpiniao{
    height: 600px;
  }
  #portfolio{
    height: 680px;
    background-color: #131313;
  }
  #carouselControls{
    display:  none;
  }
}

/*---------------- mobile_499 ---------------------*/
@media screen and (max-width: 499px) {
  .home{
    height: 650px;
  }
  .blocoChamada{
    font-size: 160%;
  }
  .boxButtons{
    font-size: 120%;
  }
  
}