.head {
  height: 80px;
  background-color: #131313;
  /*position: fixed;*/
}
.home{
  height: 520px;
}
.Rectangle-510 {
  height: 90%;
  background-color: #131313;
  float: left;
}
.instagram{
  transform: rotate(90deg);
  color: #e3b873;
  margin-top: 150%;
}
.Group-7 {
  height: 90%;
  object-fit: contain;
  background-size: cover;
  background-image: url("img/Group7.png");
  background-position: 100% 100%;
  float: left;
}
.downPage {
  width: 123.5px;
  height: 48.5px;
  background-color: #131313;
}

.colorCaramelo{
  color: #e3b873;
}
.fonteBase {
  font-family: 'Yeseva One', cursive;
  line-height: 1.33;
}
.titulo{
  font-size: 320%;
  color: #e3b873;
}
<<<<<<< HEAD
<<<<<<< HEAD


.title-depoimentos{
  width: 89px;
  height: 21px;
  font-family: YesevaOne;
  font-size: 9px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: normal;
  color: #181818;  
}

.home-depoimentos {
  width: 719px;
  height: 1415px;
  background-color: #ffffff;
}

.rectangle-depoimentos {
  width: 188px;
  height: 214px;
  box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.04);
  background-color: #ffffff;
}

.rectangle-text-depoimentos {
  width: 162px;
  height: 67.5px;
  object-fit: contain;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.18);
  font-family: Rancho;
  font-size: 7.5px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.8;
  letter-spacing: normal;
  color: #959595;
}

.retangle-image-depoimentos {
  width: 58px;
  height: 58px;
  background-image: url(/img/estevan.svg);
}
=======
=======
>>>>>>> 8e164e8ee28a1d233ecb6543666871bf95ecedbd
.subtitulo{
 font-size: 130%;
 line-height: 1.33;
 color: #ffffff;
}
.nav-link{
  color: #fff;
}
.active{
  color: #e3b873;
}
.blocoHome{
  margin-top: 120px;
}
.blocoChamada{
  font-size: 190%;
  color: #fff;
}
.blocoComplemento{
  font-size: 110%;
  font-family: arial;
  color: #fff;
  margin-top: 100px;
}
.buttonOrcamento {
  width: 30%;
  padding: 10px 20px;
  border-radius: 1px;
  box-shadow: 0 2.5px 7.5px 0 rgba(227, 184, 115, 0.3);
  text-shadow: 1px 1px 1px black;
  background-color: #e3b873;
  color: #fff;
  text-align: center;
}
.buttonOpiniao {
  width: 30%;
  padding: 10px 20px;
  border-radius: 1px;
  border: solid 0.5px #ffffff;
  color: #fff;
  text-align: center;
}
<<<<<<< HEAD
>>>>>>> 8e164e8ee28a1d233ecb6543666871bf95ecedbd
=======
>>>>>>> 8e164e8ee28a1d233ecb6543666871bf95ecedbd
